/* ELEMENT STYLES -------------------- */
body {
	background: #ffffff; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	max-height: 100vh;
	margin: 0;
}

h2, h3 {
	text-align: center;
	margin: 0px;
}
  
header {
	height: 75px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	background: #E8A10C;
	background: linear-gradient(to bottom, #E8A10C, #ffd8177c);
	box-shadow: 1px 1px 1px 1px #000000;
	text-shadow: 1px 1px #000;
	font-size: 2em;
}

header h1 {
	flex-grow: 1;
	font-size: 1.1em;
	letter-spacing: 2px;
	font-weight: normal;
	box-sizing: border-box;
}

a {
	color: black;
	text-decoration: none;
}

#main-content {
	display: grid;
	height: 90vh;
	margin: auto;
	grid-template-columns: minmax(480px, 1fr) 2fr;
	grid-column-gap: 0px;
}

#sidebar {
	background: #e4d9d9;
	max-height: 100%;
	min-height: min-content;
	box-shadow: 1px 1px 1px 1px #000000,
		-1px -1px 1px -1px rgb(31, 28, 28);
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

#addCampground {
	border-radius: 2px;
	margin: 7px;
	padding: 10px;
	position: sticky;
	bottom: 5px;
	background: #E83C0C;
	max-width: 100%;
	text-align: center;
	color: black;
	box-shadow: 1px 1px 1px 1px #000000,
	  -1px -1px 1px -1px #9b9797;
}

.campground-list-header {
	position: sticky;
	top: 0;
	margin: 0px;
	padding: 7px;
	text-align: center;
	background-color: white;
	border-bottom: 2px solid #785312;
}

.campground-list-item {
	border-radius: 2px;
	padding: 10px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	background: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.campground-list-item:hover {
	background: #ffd8174b
}

.campground-name {
	cursor: pointer;
}

#campground-details {
	padding: 8px;
	max-width: 100%;
	max-height: 100%;
	text-align: center;
}

#campground-details img {
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.remove-campground {
	font-size: 1.15em;
	border-radius: 50%;
	outline: none;
	border: none;
	color: #a83d12;
	cursor: pointer;
	margin: 0 10px 0 0;
	padding: 0;
	background: none;
}

#current-campground {
	border: 2px solid #ffd817;
	background: #ffd8174b;
	transition: .5s;
}

#modal-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.15);
}

#modal {
	position: absolute;
	background: #fff;
	top: 25px;
	left: 10%;
	right: 10%;
	padding: 15px;
	border: 2px solid #444;
}

  /* FORM */
form {
	display: flex;
	background-color: #E8A10C;
	border-radius: 2px;
}

form button {
	background-color: #b87818f3;
	color: #fff;
	font-weight: bold;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}
  
input[type=text] {
	flex-grow: 1;
	border-width: 0 0 1px 0;
	margin: 15px 10px 15px 15px;
	padding: 10px;
	border-radius: 5px;
	background-color: #fff;
	border-style: none;
	text-shadow: none;
	text-transform: uppercase;
	color: rgb(192, 136, 15);
	letter-spacing: 2px;
	outline: none;
}

@media (max-width: 600px) {

	#sidebar {
		display: none;
	}

	#modal {
		height: 100%;
		position: absolute;
		margin: 0;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		
	}

	#modal-container {
		margin: auto;
		padding: 0;
		text-align: center;
	}
}